<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>About Plant'Nish</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="icon">
    <img  src="assets/p10.jpg" />
    <h5>The Ornamental Plant'Nish Shop!</h5>
    <h6>www.plantnish.com</h6>
  </div>

  <ion-card>
    <ion-card-header>
      <h5>~ Back to Nature Because Nature is the Key of Life ~</h5> <br>
    </ion-card-header>
  
    <ion-card-content>
      We are an e-commerce site that provides ornamental plants in Indonesia, 
      initially we provided ornamental plants with a few types but now we continue 
      to grow and provide various types of fresh ornamental plants with good quality.
    </ion-card-content>

    <ion-card-content>
      Thank you for taking the time to get to know us. 
      We hope we will have the opportunity to serve you soon.
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="globe-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
