<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="icon">
    <img  src="assets/p10.jpg" />
    <h5>The Ornamental Plant'Nish Shop!</h5>
    <h6>www.plantnish.com</h6>
  </div>

  <ion-card>
      <div class="list">
        <ul>
          <li> 
              <ion-icon name="pin-outline" slot="start"></ion-icon>
              <h5>Address</h5>
              <h6>Bogor, West Java</h6>
          </li>
          <li>
              <ion-icon ion-icon name="call-outline"></ion-icon>
              <h5>Contact US</h5>
              <h6>08-987-654-321</h6>
          </li>
        </ul>
        <ul>
          <li>
            <ion-icon name="mail-outline"></ion-icon>
              <h5>E-mail</h5>
              <h6>plantnish@gmail.com</h6>
           </li>
           <li>
            <ion-icon name="mail-outline"></ion-icon>
              <h5>Hours</h5>
              <h6>Mon-sat at 9 am - 6 pm <br>
                Sun Closed</h6>
           </li>
        </ul>
      </div>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="globe-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
