ion-app{
    background: #AA8B56;

    ion-menu::part(backdrop) {
        background-color: #395144;
      }
      
    ion-menu::part(container) {
        border-radius: 0 20px 30px 0;
      
        box-shadow: 4px 0px 16px #395144;
      }
    ion-list{
        ion-list-header{
            justify-content: center;
            justify-items: center;
            display: flex;
            margin-left: 75px;
            color: #AA8B56;
        }
        
        ion-note{
            justify-content: center;
            justify-items: center;
            display: flex;
            color: #AA8B56;
        }

        ion-menu-toggle{
            --background: #EFEAD8;
            ion-item{
                ion-icon{
                    color: #6D8B74;
                }
                ion-label{
                    color: #6D8B74;
                }
            }
        }
    }
}