<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Our Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="icon">
    <img  src="assets/iconPlantNish.png" />
    <h5>The Ornamental Plant'Nish Shop!</h5>
  </div>

  <br>
  <ion-searchbar placeholder="  Search your plants" class="custom"></ion-searchbar>

  <ion-card>
      <h4>- Product 1 -</h4>
      <div class="list">
        <ul>
          <li> 
            <img src="assets/p1.jpg"  routerLink="//">
            <h5>Plant</h5>
            <h6>Rp. 000</h6>
          </li>
          <li>
            <img src="assets/p3.jpg" routerLink="//">
            <h5>Plant</h5>
            <h6>Rp. 000</h6>
          </li>
        </ul>
        <ul>
          <li>
            <img src="assets/p5.jpg" routerLink="//">
            <h5>Plant</h5>
            <h6>Rp. 000</h6>
           </li>
          <li>
            <img src="assets/p4.jpg" routerLink="//">
            <h5>Plant</h5>
            <h6>Rp. 000</h6>
          </li>
        </ul>
      </div>
  </ion-card>

  <ion-card>
      <h4>- Product 2 -</h4>
      <div class="list">
        <ul>
          <li> 
            <img src="assets/p1.jpg"  routerLink="//">
            <h5>Plant</h5>
            <h6>Rp. 000</h6>
          </li>
          <li>
            <img src="assets/p3.jpg" routerLink="//">
            <h5>Plant</h5>
            <h6>Rp. 000</h6>
          </li>
        </ul>
        <ul>
          <li>
            <img src="assets/p5.jpg" routerLink="//">
            <h5>Plant</h5>
            <h6>Rp. 000</h6>
           </li>
          <li>
            <img src="assets/p4.jpg" routerLink="//">
            <h5>Plant</h5>
            <h6>Rp. 000</h6>
          </li>
        </ul>
      </div>
  </ion-card>

  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button>
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button>
        <ion-icon name="globe-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
