ion-header{
    --background: #fff;
  }
  ion-toolbar{
    --background: #ffffff;
    color: #AA8B56;
    border-radius: 0px 0px 15px 15px;

    ion-buttons{
      color: #AA8B56;

      ion-menu-button{
        color: #AA8B56;
      }
    }

    .logout{
      margin-top: 3px;
      margin-right: 15px;
      color: #EFEAD8;
    }
  
  }
  * {
    font-family: 'Poppins', sans-serif;
  }

ion-content {
    --background: #EFEAD8;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  flex-direction: column;
  background: #6D8B74;
  border-radius: 0px 0px 40px 40px;
  img{
    width: 8em;
    height: 8em;
  }
  h5 {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
    color: #EFEAD8;
  }
}
  

ion-card{
    --background: #6D8B74;
    color: #EFEAD8;

    h5 {
      font-style: normal;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 25px;
      color: #EFEAD8;
    }

    h4 {
      font-style: normal;
      text-align: center;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: #EFEAD8;
    }

    ion-card-content{
        text-align: justify;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
    }
    ion-icon{
      color: #AA8B56;
    }
    ion-label{
      color: #AA8B56;
    }
}

.list {
  display: flex;
  margin-left: -40px;
  flex-direction: column;
  ul {
      justify-content: center;
      display: flex;
      align-items: flex-start;
      
      li {
          background-color: #F0EBE3;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin: 20px;
          padding: 15px;
          height: auto;

          h5 {
            font-style: normal;
            text-align: center;
            font-weight: 700;
            font-size: 16px;
            line-height: 5px;
            color: #AA8B56;
          }

          h6 {
            font-style: normal;
            text-align: center;
            font-weight: 500;
            font-size: 12px;
            color: #AA8B56;
          }
         
          img {
              height: 120px;
              width: 100px;
              border-radius: 20px;
          }
      }
  }
}

ion-fab-button {
    --background: #AA8B56;
    --background-activated: #AA8B56;
    --background-hover: #4E6C50;
    --border-radius: 50px;
    --box-shadow: 0px 1px 2px 0px #F0EBCE, 0px 1px 3px 1px #F0EBCE;
    --color: #F0EBCE;
  }

  /* Scoped components require higher specificity to customize */
ion-searchbar.custom {
    --background: #AA8B56;
    --color: #EFEAD8;
    --placeholder-color: #EFEAD8;
    --icon-color: #EFEAD8;
    --clear-button-color: #EFEAD8;

    --icon-left: 10px;
  
    --border-radius: 15px;
  }
  
  ion-searchbar.ios.custom {
    --cancel-button-color: #AA8B56;
  }
  
  ion-searchbar.md.custom {
    --cancel-button-color: #EFEAD8;
  }
  