ion-content{
    --background: #4E6C50
    ;
}
* {
    font-family: 'Poppins', sans-serif;
  }

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: normal;
    opacity: 0,5;

    img{
        border-radius: 0px 0px 50px 50px;
    }
}

.judul{
    h4{
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #F0EBCE;
    }
    h6{
     
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      color: #F0EBCE;
    }
  }

ion-item{
  ion-icon{
    color: #F0EBCE;
  }
}


.button {
    display: flex;
    justify-content: center;
  }

ion-button {
    --background: #AA8B56;
    width: 150px;
    height: 40px;
    left: 50px;
    top: 550px;
    color: #F0EBCE;
    border-radius: 60px;
    
}
  
ion-item{
  ion-icon{
    color: #393E46;
  }
}

.forgot{
    h6{
     
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      text-align: right;
      margin-right: 30px;
      color: #F7F7F7;
    }
}

.create{
  justify-content: center;
  top: 15px;
  a{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #F7F7F7;
  }
  h6{
     
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #F7F7F7;
  }
}
  